.grid {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 3.5rem;
}

.yAxis {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.xAxis {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 18rem;
    pointer-events: none;
}

.yAxisItems {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease;
    transform-origin: bottom;
    opacity: 0;
}

.yAxisItem {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;

    display: flex;
    align-items: flex-end;

    color: #a2adb4;
    font-size: 8rem;

    border-bottom: 1px solid rgba(162, 173, 180, 0.3);
    transition: transform 0.4s ease;
}

.yAxisItemText {
    height: 10rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    line-height: 8rem;
    box-sizing: border-box;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.xAxisItem {
    position: absolute;
    width: 2rem;
    height: 18rem;
    margin-left: -1rem;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: transparent;
    color: #a2adb4;
    font-size: 8rem;
    line-height: 18rem;
    white-space: nowrap;

    display: none;
    opacity: 1;
    align-items: flex-end;
    justify-content: center;
    transition: opacity 0.4s ease;
}

:global(.dark) .yAxisItemText {
    background-color: rgba(36, 47, 62, 0.6);
}