.container {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.chart {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-bottom: 5vh;
}

.lines {
    width: 100%;
    height: 100%;
}

.toggles {
    display: flex;
}

.toggle {
    font-size: 2.5rem;
}


.toggle input {
    font-size: 2.5rem;
}